#fioInfo {
    margin: 10px;
    padding: 10px;
    font: 900 25px sans-serif;
    background-color: aliceblue;
    border: 1px dotted blueviolet;
    border-radius: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    display: flex;
}

p {
    margin: 0px;
    padding: 0px;
}

.img {
    border-right: none;
    padding: 5px;
}

button {
    margin: 0px 10px;
}

a .link{
    font-size: 20px;
}

div div a{
    text-align: center;
}

.logout {
    position: absolute;
    right: 0%;
    top: 0%;
}

form {
    flex-direction: row;
}

p.group_attachment{
    text-align: center;
}

table {
    border: 1px solid black;
    padding: 0px;
    margin: 15px 0px;
    
}

td {
    border: 1px solid black;
}

td.practice_name {
    font-size: 20px;
}

form.buttons {
    margin: 0px;
    padding: 5px 0px;
    flex-direction: column;
    align-items: stretch;
}

button.manage, select.manage, input.manage {
    font-size: 10px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

div.attach {
    display: flex;
    align-items: stretch;
    margin: 0px 5px;
}

div.rename_remove{
    display: flex;
    align-items: stretch;
    margin: 0px 5px;
}