a {
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    display: flex;
}

p {
    margin: 0px;
    padding: 0px;
}

#fioInfo {
    margin: 10px;
    padding: 10px;
    font: 900 25px sans-serif;
    background-color: aliceblue;
    border: 1px dotted blueviolet;
    border-radius: 10px;
}

div.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    border-right: none;
    padding: 5px;
}

button {
    margin: 0px 10px;
}

a .link{
    font-size: 20px;
}

div div a{
    text-align: center;
}

.logout {
    position: absolute;
    right: 0%;
    top: 0%;
}

div.practices {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    flex-direction: row;
}

p.group_attachment{
    text-align: center;
}

table {
    border: 1px solid black;
    padding: 0px;
    margin: 15px 0px;
    
}

th {
    padding: 0px 15px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 0px;
}

td.practice_name {
    font-size: 20px;
}

td.date_of_sub {
    text-align: center;
    padding: 0px 10px;
}

form.buttons {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

button.manage, select.manage, input.manage {
    font-size: 10px;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

div.attach {
    display: flex;
    align-items: stretch;
    margin: 0px 5px;
}

div.rename_remove{
    display: flex;
    align-items: stretch;
    margin: 0px 5px;
}