body {
    align-items: stretch;
}

.main_box {
    flex-direction: row;
    align-items: stretch;
}

.link {
    margin: 7px 0px;
}

div.all_buttons {
    margin-right: 15px;
}

form.buttons {
    flex-direction: column;
    align-items: stretch;
    /* padding: 0px 20px; */
    /* width: 100%; */
}

.manage {
    align-items: stretch;
    justify-content: stretch;
}

.back_btn_form {
    justify-content: flex-end;
}
