{% extends "base.html" %}

{% load static %}
{% block header %}
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static "/css/login.css" %}">
{% endblock header %}
{% block content %}
    <form class="main_box" method="post">{% csrf_token %}
            {% if message %}
                {{ message }}<br><br>
            {% endif %}
            <input type="text" placeholder="Логин" name="login"><br>
            <input type="password" placeholder="Пароль" name="password"><br>
            <input type="submit" value="Войти" id="login_button">
    </form>
{% endblock content %}