{% extends "base.html" %}

{% load static %}

{% block header %}
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static "/css/profile.css" %}">
    <script src="{% static "/js/profile.js" %}" defer></script>
{% endblock header %}
        
{% block content %}
    <div class="profile_info">
        <div id="fioInfo">{{profile.sername}} {{profile.name}} {% if profile.patronymic %} {{profile.patronymic}} {% endif %}</div>
        {% block group %}
        {% endblock group %}
    </div>
    {% block interface %}
    {% endblock interface %}
    
    <form method="post">{% csrf_token %}<input type="submit" class="link logout" name='logout' value="Выйти"></form>

    {% if alert_message %}
        <script> alert("{{alert_message}}") </script>
    {% endif %}

{% endblock content %}
