{% extends "profile.html" %}

{%load static%}

{% block group %}
    <div>группа Y{{ profile.group }}</div>
{% endblock group %}

{% block interface %}
    <div class="materials">
        <p>Доступные материалы</p>
        <ul>
            {% for material in material_list%}
                <li><a href="{{material.id_material}}">{{material}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="practices">
        {% if attached_practices%}
            <p class="group_attachment">Ваши практики</p>
            <table>
                <th>Навание практики</th>
                <th>Дата сдачи</th>
                {% for id_practice,pr_info in attached_practices.items %}
                    <tr>
                        <td class="practice_name"><a href="./show_practice/{{id_practice}}" id="{{id_practice}}">{{pr_info.name}}</td>
                        {% if pr_info.date_of_sub%}
                            <td class="date_of_sub">{{pr_info.date_of_sub}}</td>
                        {%else%}
                            <td class="date_of_sub">Не указана</td>
                        {%endif%}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="group_attachment">Ваш преподаватель еще не добавил практик</p>
        {% endif %}
    </div>
{% endblock interface %}