{% extends "profile.html" %}
{%load static%}
{%load Diploma_extras%}

{% block interface %}
    <div class="buttons">
        <form>
            <select class="link" name="get_practices">
                {% if groups_list %}
                    <option>Все</option>
                    <option>Непривязанные</option>
                    {% for group in groups_list %}
                        <option>{{ group }}</option>
                    {% endfor %}
                {%else%}
                    <option>Вы не ведете ни у одной группы</option>
                {% endif %}
            </select>
            <button type="submit" class="link">Практики</button>
        </form>
        <a href="./create_practice">
            <img class="link img" src="{% static "/img/instruments.png" %}" alt="instruments" height="50">
            <p class="link">Создать практику</p>
        </a>
    </div>
    <div class="practices">
        {%if practice_list%}
            <p class="group_attachment">{{group_attachment}}</p>
            <table>
                <th>Название практики</th>
                <th>Дата сдачи</th>
                <th>Управление практиками</th>
                {% for id_practice,name in practice_list.items %}
                    <tr>
                        <td class="practice_name"><a href="./show_practice/{{id_practice}}" id="{{id_practice}}">{{name}}</td>
                        <td class='date_of_sub'>
                            {% if id_practice in attached_practices %}
                                {%if attached_practices|dict_item:id_practice%}
                                    {{attached_practices|dict_item:id_practice}}
                                {% else %}
                                    Не указана
                                {% endif %}
                            {% else %}
                                Практика не привязана
                            {% endif %}
                        </td>
                        <td>
                            <form method="post" class="buttons">{% csrf_token %}
                                {% if id_practice in attached_practices%}
                                    <div class="unattach rename_remove">
                                        <button class="link manage" onclick="unattach({{id_practice}},this)">Отвязать</button>
                                {%else%}
                                    <div class="attach">
                                        <button class="link manage" onclick="attach({{id_practice}},this)">Привязать</button>
                                        <select class="link manage">
                                            {% if groups_list %}
                                                <option>Группа</option>
                                                {% for group in groups_list %}
                                                    <option>{{ group }}</option>
                                                {% endfor %}
                                            {%else%}
                                                <option>Вы не ведете ни у одной группы</option>
                                            {% endif %}
                                        </select>
                                        <input type=date class="link manage" min="{{today}}">
                                    </div>
                                    <div class="rename_remove">
                                {%endif%}
                                        <button class="link manage" onclick="rename({{id_practice}},this)">Переименовать</button>
                                        <button class="link manage" onclick="remove({{id_practice}},this)">Удалить</button>
                                    </div>
                            </form>    
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {%else%}
            <p class="group_attachment">Практик по запросу нет</p>
        {%endif%}
    </div>
{% endblock interface %}