{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>profile</title>
        <link rel="stylesheet" href="{% static "/css/main.css" %}">
        <link rel="stylesheet" href="{% static "/css/profile.css" %}">
    </head>
    <body>
        <div class="main_box">
            <div class="profile_info">
                <div id="fioInfo">
                    <p>
                        {{profile.sername}} {{profile.name}} {% if profile.patronymic %} {{profile.patronymic}} {% endif %}
                    </p>
                </div>
                {% if profile.status == "student"%}
                    <div>группа Y{{ profile.group }} вариант {{ profile.variant }} </div>
                {% endif %}
            </div>
            {% if profile.status == "teacher"%}
            <div class="buttons">
                <div>
                    <form>
                        <select class="link">
                            {% if groups_list %}
                                <option>Группа</option>
                                {% for group in groups_list %}
                                    <option>{{ group }}</option>
                                {% endfor %}
                            {%else%}
                                <option>Вы не ведете ни у одной группы</option>
                            {% endif %}

                        </select>
                        <div class="buttons">
                            <button type="submit" formaction="../journal.html" class="link">Журнал</button>
                            <button type="submit" formaction="./create_practice"  class="link">Практики</button>
                        </div>
                    </form>
                </div>
                <div>
                    <a href="./create_practice">
                        <div class="link img"><img src="{% static "/img/instruments.png" %}" alt="instruments" height="50"></div>
                        <div class="link">Создать практику</div>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <form method="post">{% csrf_token %}<input type="submit" class="link logout" name='logout' value="Выйти"></form>

    </body>
</html>