{% extends "base.html" %}
{% load static %}

{% block header %}
    <title>Просмотр практики</title>
    <link rel="stylesheet" href="{% static "/css/show_practice.css" %}">
    <script src="{% static "/js/show_practice.js" %}" defer></script>
{% endblock header %}

{% block content %}
    <div class="all_buttons">
        <div class="manage">
        {% if request.GET.from_create %}
            <form method="post" class="buttons">{% csrf_token %}
                <button class="link" name="save" value="true">Сохранить практику</button>
                <button class="link" name="regen" value="this_param">Сгенерировать файл заново<br>(с теми же параметрами)</button>
                <button class="link" name="regen" value="other_param">Сгенерировать с другими<br>параметрами</button>
                
            </form>
        {% endif %}
        </div>
        {% if group_list %}
            <form method="post" class="buttons"> {% csrf_token %}
                <button class="link" onclick="attach('{{practice_name}}',this)">Привязать практику к группе </button>
                <select class="link" id="group">
                    <option>Группа</option>
                    {% for group in group_list %}
                        <option>{{ group.number }}</option>
                    {% endfor %}
                </select>
                <input type=date class="link manage" min="{{today}}" id="date_of_sub">
            </form>
        {% endif %}
        <form method="post" class="back_btn_form">{% csrf_token %}
            <button name="cancel" value="true" class="link back_btn">
                {% if 'from_create' in request.GET %}
                    Отмена
                {% else %}
                    Назад к профилю
                {% endif %}
            </button>
        </form>
    </div>
    <embed src="/static/practics/{{ practice_name }}" width="1000" height="750" type="application/pdf">
{% endblock content %}  